USE [Библиотека]
GO
/****** Object:  Table [dbo].[Автор]    Script Date: 13.02.2024 13:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Автор](
	[Код_автора] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](50) NULL,
 CONSTRAINT [PK_Автор] PRIMARY KEY CLUSTERED 
(
	[Код_автора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Жанр]    Script Date: 13.02.2024 13:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Жанр](
	[Код_жанра] [int] IDENTITY(1,1) NOT NULL,
	[Название_жанра] [nvarchar](50) NULL,
 CONSTRAINT [PK_Жанр] PRIMARY KEY CLUSTERED 
(
	[Код_жанра] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Избранное]    Script Date: 13.02.2024 13:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Избранное](
	[Код_избранного] [int] IDENTITY(1,1) NOT NULL,
	[Код_книги] [int] NOT NULL,
 CONSTRAINT [PK_Избранное] PRIMARY KEY CLUSTERED 
(
	[Код_избранного] ASC,
	[Код_книги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Книги]    Script Date: 13.02.2024 13:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Книги](
	[Код_книги] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](150) NULL,
	[Код_автора] [int] NULL,
	[Код_жанра] [int] NULL,
	[Обложка_книги] [varbinary](max) NULL,
	[Количество_в_наличии] [int] NULL,
 CONSTRAINT [PK_Книги] PRIMARY KEY CLUSTERED 
(
	[Код_книги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Корзина]    Script Date: 13.02.2024 13:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Корзина](
	[Код_корзины] [int] IDENTITY(1,1) NOT NULL,
	[Код_избранного] [int] NOT NULL,
 CONSTRAINT [PK_Корзина] PRIMARY KEY CLUSTERED 
(
	[Код_избранного] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 13.02.2024 13:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[Код_пользователя] [int] IDENTITY(1,1) NOT NULL,
	[Код_роли] [int] NULL,
	[Логин] [nvarchar](50) NULL,
	[Пароль] [nvarchar](100) NULL,
 CONSTRAINT [PK_Пользователи] PRIMARY KEY CLUSTERED 
(
	[Код_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 13.02.2024 13:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[Код_роли] [int] IDENTITY(1,1) NOT NULL,
	[Название_роли] [nvarchar](50) NULL,
 CONSTRAINT [PK_Роли] PRIMARY KEY CLUSTERED 
(
	[Код_роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Читатели]    Script Date: 13.02.2024 13:51:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Читатели](
	[Код_читателя] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](150) NOT NULL,
	[Номер_билета] [int] NOT NULL,
 CONSTRAINT [PK_Читатели] PRIMARY KEY CLUSTERED 
(
	[Код_читателя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Автор] ON 

INSERT [dbo].[Автор] ([Код_автора], [ФИО]) VALUES (1, N'Толстой Лев Николаевич')
INSERT [dbo].[Автор] ([Код_автора], [ФИО]) VALUES (2, N'Достоевский Фёдор Михайлович')
INSERT [dbo].[Автор] ([Код_автора], [ФИО]) VALUES (3, N'Роулинг Джоан Кэтлин')
SET IDENTITY_INSERT [dbo].[Автор] OFF
GO
SET IDENTITY_INSERT [dbo].[Жанр] ON 

INSERT [dbo].[Жанр] ([Код_жанра], [Название_жанра]) VALUES (1, N'Роман')
INSERT [dbo].[Жанр] ([Код_жанра], [Название_жанра]) VALUES (2, N'Драма')
INSERT [dbo].[Жанр] ([Код_жанра], [Название_жанра]) VALUES (3, N'Фэнтези')
SET IDENTITY_INSERT [dbo].[Жанр] OFF
GO
SET IDENTITY_INSERT [dbo].[Книги] ON 

SET IDENTITY_INSERT [dbo].[Книги] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([Код_пользователя], [Код_роли], [Логин], [Пароль]) VALUES (1, NULL, N'admin@mail.ru', N'123')
INSERT [dbo].[Пользователи] ([Код_пользователя], [Код_роли], [Логин], [Пароль]) VALUES (2, 2, N'test@mail.ru', N'1')
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
SET IDENTITY_INSERT [dbo].[Роли] ON 

INSERT [dbo].[Роли] ([Код_роли], [Название_роли]) VALUES (1, N'Администратор')
INSERT [dbo].[Роли] ([Код_роли], [Название_роли]) VALUES (2, N'Читатели')
SET IDENTITY_INSERT [dbo].[Роли] OFF
GO
SET IDENTITY_INSERT [dbo].[Читатели] ON 

INSERT [dbo].[Читатели] ([Код_читателя], [ФИО], [Номер_билета]) VALUES (1, N'Иванов Иван Иванович', 1001)
INSERT [dbo].[Читатели] ([Код_читателя], [ФИО], [Номер_билета]) VALUES (2, N'Петров Петр Петрович', 1002)
INSERT [dbo].[Читатели] ([Код_читателя], [ФИО], [Номер_билета]) VALUES (3, N'Сидорова Анна Васильевна', 1003)
SET IDENTITY_INSERT [dbo].[Читатели] OFF
GO
/****** Object:  Index [IX_Книги_Код_автора]    Script Date: 13.02.2024 13:51:59 ******/
CREATE NONCLUSTERED INDEX [IX_Книги_Код_автора] ON [dbo].[Книги]
(
	[Код_автора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Книги_Код_жанра]    Script Date: 13.02.2024 13:51:59 ******/
CREATE NONCLUSTERED INDEX [IX_Книги_Код_жанра] ON [dbo].[Книги]
(
	[Код_жанра] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Пользователи_Код_роли]    Script Date: 13.02.2024 13:51:59 ******/
CREATE NONCLUSTERED INDEX [IX_Пользователи_Код_роли] ON [dbo].[Пользователи]
(
	[Код_роли] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Избранное]  WITH CHECK ADD  CONSTRAINT [FK_Избранное_Книги] FOREIGN KEY([Код_книги])
REFERENCES [dbo].[Книги] ([Код_книги])
GO
ALTER TABLE [dbo].[Избранное] CHECK CONSTRAINT [FK_Избранное_Книги]
GO
ALTER TABLE [dbo].[Избранное]  WITH CHECK ADD  CONSTRAINT [FK_Избранное_Корзина] FOREIGN KEY([Код_избранного])
REFERENCES [dbo].[Корзина] ([Код_избранного])
GO
ALTER TABLE [dbo].[Избранное] CHECK CONSTRAINT [FK_Избранное_Корзина]
GO
ALTER TABLE [dbo].[Книги]  WITH CHECK ADD  CONSTRAINT [FK_Книги_Автор] FOREIGN KEY([Код_автора])
REFERENCES [dbo].[Автор] ([Код_автора])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Книги] CHECK CONSTRAINT [FK_Книги_Автор]
GO
ALTER TABLE [dbo].[Книги]  WITH CHECK ADD  CONSTRAINT [FK_Книги_Жанр] FOREIGN KEY([Код_жанра])
REFERENCES [dbo].[Жанр] ([Код_жанра])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Книги] CHECK CONSTRAINT [FK_Книги_Жанр]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Роли] FOREIGN KEY([Код_роли])
REFERENCES [dbo].[Роли] ([Код_роли])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Роли]
GO
USE [master]
GO
