.container {
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

th, td, tr {
    border: 1px solid black;
}
button {
    margin: 0 auto;
    display: block;
}

.tile {
    background-color: transparent;
    margin-bottom: 20px;
    overflow: hidden;
}

.btn-about-book {
    background-color: transparent;
    border-radius: 8px;
}

.tile-book {
    display: none;
}

.tile img {
    display: table-cell;
}

.book-container {
    max-width: 800px;
    margin: 0px 0px;
    background-color: #fff;
    padding: 20px;
}

.book-cover {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.book-details {
    margin-bottom: 20px;
    margin-right: 20px;
}

.book-description {
    margin-top: 20px;
}
