.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
th, td, tr {
    
    border: 1px solid black;

}

button {
    margin: 0 auto;
    display: block;
}
.tile {
    background-color: transparent;
    
    margin-bottom: 20px;
    overflow: hidden;
}
.btn-about-book {
    background-color: transparent;
    border-radius: 8px;
}
.tile-book {
    display: none;
}
.tile img {
    display: table-cell;
}

footer{
    background-color: black;
}
