@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <script src="~/lib/jquery-3.7.1.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/Authentication/auth.js" asp-append-version="true"></script>

    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true"/>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" icon="~/favicon.ico">Онлайн-библиотека</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ссылка</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Выпадающий список
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Действие</a></li>
                                <li><a class="dropdown-item" href="#">Другое действие</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
                            </ul>
                        </li>
                        <li class="nav-item" id="li-admin-list">
                            <a class="nav-link" href="/easydata">Панель управления</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" id="input-text-search" placeholder="Поиск книги" aria-label="Поиск">
                        <button class="btn btn-outline-success" id="btn-form-search" type="submit">Поиск</button>
                    </form>
                    <div>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" id="btn-favorite-show" data-bs-target="#favoriteModal">
                            Избранное
                        </button>
                        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#loginModal">
                            Вход
                        </button>
                    </div>
                    <div class="modal fade" id="favoriteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-centred">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="exampleModalLabel">Избранное</h1>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <div class="list-group" id="div-favorite-list">

@*                                                 <button type="button" class="list-group-item list-group-item-action" aria-current="true">
                                                    Текущая кнопка
                                                </button>
                                                <button type="button" class="list-group-item list-group-item-action">Второй элемент кнопка</button>
                                                <button type="button" class="list-group-item list-group-item-action">Третий элемент кнопка</button>
                                                <button type="button" class="list-group-item list-group-item-action">Четвертый элемент кнопка</button>
                                                <button type="button" class="list-group-item list-group-item-action" disabled>Отключенный элемент кнопка</button> *@
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary" id="btn-form-login">К покупкам</button>
                                        <button type="submit" class="btn btn-primary" id="btn-form-cancel-favorite">Закрыть</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-centred">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="exampleModalLabel">Авторизация</h1>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <label for="input-form-email" class="form-label">Адрес электронной почты</label>
                                            <input type="email" class="form-control" id="input-form-email" aria-describedby="emailHelp" required>
                                            <div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту.</div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="input-form-password" class="form-label">Пароль</label>
                                            <input type="password" class="form-control" id="input-form-password" required>
                                            <span id="span-form-info"></span><br/>
                                            <label><a data-bs-toggle="modal" href="#registerModal" role="button">Впервые? Регистрация</a></label>
                                        </div>
                                        <button type="submit" class="btn btn-primary" id="btn-form-login">Авторизация</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-centred">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="exampleModalLabel">Регистрация</h1>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <label for="input-form-email-register" class="form-label">Адрес электронной почты</label>
                                            <input type="email" class="form-control" id="input-form-email-register" aria-describedby="emailHelp" required>
                                            <div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту.</div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="input-form-password-register" class="form-label">Пароль</label>
                                            <input type="password" class="form-control" id="input-form-password-register" required>
                                            <label for="input-form-password-repeat" class="form-label">Повторите пароль</label>
                                            <input type="password" class="form-control" id="input-form-password-repeat" required>
                                            <label><a data-bs-toggle="modal" href="#loginModal" role="button">Уже зарегистрированы? Авторизация</a></label>
                                        </div>
                                        <button type="submit" class="btn btn-primary" id="btn-form-register" >Регистрация</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
