@{
    ViewData["title"] = "О книге";
}

<div class="row" id="div-about-book">
    <div class="col-md-4 text-center">
        <img src="" alt="Обложка книги" id="img-cover-about-book" />
    </div>
    <div class="col-md-8">
        <div class="book-details">
            <h2 id="h2-title-about-book"></h2>
            <p id="p-author-about-book" class="text-muted"></p>
            <p id="p-genre-about-book"></p>
            <p id="p-available-about-book"></p>
        </div>
        <div class="book-description">
            <hr />
            <h4>Описание</h4>
            <p id="p-description-about-book"></p>
            <hr />
        </div>
        <div class="text-left">
            <a href="#" class="btn btn-primary" id="btn-favorite-book">Добавить в избранное</a>
            <a href="/cart" class="btn btn-primary" id="btn-cart-book">Добавить в корзину</a>
        </div>
    </div>
</div>
