@{
    ViewData["title"] = "О книге";
}

<div class="row" id="div-about-book">
    <div class="col-md-4 text-center">
        <img src="" alt="Обложка книги" id="img-cover-about-book" />
    </div>
    <div class="col-md-8">
        <div class="book-details">
            <h2 id="h2-title-about-book"></h2>
            <p id="p-author-about-book" class="text-muted"></p>
            <p id="p-genre-about-book"></p>
            <p id="p-available-about-book"></p>
            <p id="p-quantity-about-book" style="display: none;"></p>
        </div>
        <div class="book-description">
            <hr />
            <h4>Описание</h4>
            <p id="p-description-about-book"></p>
            <hr />
        </div>
        <div class="text-center">
            <div class="input-group mb-3 col-auto">
                <input type="number" class="form-control" id="input-quantity-about-book" placeholder="Количество" min="1" value="1">

                <div class="input-group-append">
                    <button class="btn btn-primary" id="btn-cart-book">Добавить в корзину</button>
                </div>
            </div>
            <span id="span-information-quantity"></span>
        </div>
        <a class="btn btn-primary" id="btn-favorite-about-book">Добавить в избранное</a>
    </div>
</div>
