@{
    ViewData["title"] = "О книге";
}
<div class="row" id="divAboutBook">
@*         <div>
            <img src="book-cover.jpg" alt="Book cover" class="img-fluid">
        </div>
        <div class="col-md-8 text-left">
            <h1>Название книги</h1>
            <p>Автор: Имя автора</p>
            <p>Жанр: Жанр книги</p>
            <p>Год издания: Год издания книги</p>
            <p>Рейтинг: Рейтинг книги</p>
            <p>Описание: Краткое описание книги</p>
            <a href="#" class="btn btn-primary">Купить книгу</a>
            <a href="#" class="btn btn-secondary">Читать отрывок</a>
        </div> *@
</div>