@{
    ViewData["title"] = "О книге";
}

<div class="container-fluid">
    <div class="col-md-4">
        <div class="tile">
            <div class="tile-image"><img src="" alt="фото"/></div>
            <div class="tile-about-books">Название книги</div>
        </div>
    </div>
</div>