@{
    ViewData["title"] = "Доступ запрещен";
}

<div class="container-fluid">
    <div class="alert alert-danger" role="alert">
        <strong>Доступ запрещен.</strong> У вас нет прав доступа к этой странице.
    </div>
</div>