@{
    ViewData["Title"] = "Авторизация";
}
<!-- форма регистрации -->
<form action="" method="post">
    <!-- поле ввода имени -->
    <div class="form-group">
        <label>Имя</label>
        <input type="text" name="name" class="form-control" required>
    </div>
    <!-- поле ввода электронной почты -->
    <div class="form-group">
        <label>Электронная почта</label>
        <input type="email" name="email" class="form-control" required />
    </div>
    <!-- поле ввода пароля -->
    <div class="form-group">
        <label>Пароль</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <!-- поле повторного ввода пароля -->
    <div class="form-group">
        <label>Повторите пароль</label>
        <input type="password" name="confirm_password" class="form-control" required>
    </div>
    <!-- кнопка отправки данных на сервер -->
    <div class="form-group">
        <input type="submit" name="submit" class="btn btn-primary" value="Зарегистрироваться">
    </div>
    <!-- вход для тех, у кого уже есть аккаунт -->
    <p>Уже зарегистрированы? <a href="login.html">Войдите в систему</a>.</p>
</form>