@{
    ViewData["title"] = "Мои товары";
}

<div class="container mt-5">
    <h1 class="mb-4">Корзина</h1>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Поиск заказа">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-outline-primary">Применить</button>
                    </div>
                </div>
                <div class="form-row mt-3" id="pickupLocation">
                    <div class="col">
                        <label for="select-pickup-point">Адрес пункта выдачи</label>
                        <select class="form-control" id="select-pickup-point"></select>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Наименование</th>
                                    <th scope="col">Цена за штуку</th>
                                    <th scope="col">Количество</th>
                                    <th scope="col">Действия</th>
                                </tr>
                            </thead>
                            <tbody id="tbody-cart-items">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <h4 id="h4-final-sum"></h4>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-outline-primary mr-2" id="btn-order-success">Оформить заказ</button>
                        <button type="button" class="btn btn-outline-secondary" id="btn-order-clear">Очистить корзину</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
