@{
    ViewData["Title"] = "Пример заголовка";
}

<p>---------------------------------------------------------------------------</p>
<form id="formPost">
    <p>Добавление нового автора</p>
    <p>ФИО Автора <input type="text" id="authorText"/></p>
    <input type="submit" value="Добавить нового автора" id="btPos"/>
</form>
<p>---------------------------------------------------------------------------</p>
<form id="formDelete">
    <p>Удаление автора из базы данных</p>
    <p>Введите номер автора для удаление - <input type="number" id="authorDelete"/></p>
    <input type="submit" id="btDel" value="Удалить запись" />
</form>
<p>---------------------------------------------------------------------------</p>
<p>---------------------------------------------------------------------------</p>
<form id="formGet">
    <p>Получение данных из таблицы Автор</p>
    <input type="submit" id="btGet" value="Получить"/>
    <table></table>
</form>