@{
    ViewData["title"] = "Панель управления";
}
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4 d-flex justify-content-center">
        <h5 class="text-white"></h5>
        <button class="btn btn-outline-info" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" id="btn-author-table">Таблица Авторы</button>
        <button class="btn btn-outline-info" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">Таблица Жанр</button>
        <button class="btn btn-outline-info" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">Таблица Книги</button>
        <button class="btn btn-outline-info" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">Таблица Читатели</button>
        <button class="btn btn-outline-info" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">Таблица Роли</button>
        <button class="btn btn-outline-info" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">Таблица Пользователи</button>
    </div>

</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler ms-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="text-center" id="author-table">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="collapse" data-bs-target="#form-add-author" id="btn-form-add">Добавление</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="collapse" data-bs-target="#form-edit-author" id="btn-form-edit">Редактирование</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="collapse" data-bs-target="#form-delete-author" id="btn-form-delete">Удаление</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="collapse" data-bs-target="#form-show-author" id="btn-form-show">Просмотр данных</button>
        </li>
    </ul>
    <div class="collapse" id="form-add-author">
        <form class="d-inline-block">
            <div class="form-group mb-3">
                <label>ФИО Автора</label>
                <input type="text" class="form-control" id="input-author-name-add" required />
                <span id="span-add-done"></span>
            </div>
            <button class="btn btn-outline-info" id="btn-add-author">Добавить</button>
        </form>
    </div>
    <div class="collapse" id="form-edit-author">
        <form class="d-inline-block">
            <div class="form-group mb-3">
                <label>ФИО Автора для редактирования</label>
                <select id="select-author-list">

                </select><br/>
                <label>ФИО Автора</label>
                <input type="text" class="form-control" id="input-author-name-edit" required />
                <span id="span-edit-done"></span>
            </div>
            <button class="btn btn-outline-info" id="btn-edit-author">Редактировать</button>
        </form>
    </div>
    <div class="collapse" id="form-delete-author">
        <form class="d-inline-block">
            <div class="form-group mb-3">
                <label>Укажите код автора для удаления</label>
                <input type="number" id="input-id-author" required /><br/>
                <span id="span-delete-info"></span>
                <button class="btn btn-outline-info" id="btn-delete-author">Удалить</button>
            </div>
        </form>
    </div>
    <div class="collapse" id="form-show-author">
        <form class="d-inline-block">
            <button class="btn btn-outline-info" id="btn-show-author">Получить данные</button>
            <div class="form-group mb-3">
                <table id="tableAuthor"></table>
            </div>
        </form>
    </div>
</div>