@{
    ViewData["title"] = "Панель управления";
}
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4" >
        <h5 class="text-white"></h5>
        <button class="btn btn-primary"><a href="">Таблица Авторы</a></button>
        <button class="btn btn-primary"><a href="">Таблица Жанр</a></button>
        <button class="btn btn-primary"><a href="">Таблица Книги</a></button>
        <button class="btn btn-primary"><a href="">Таблица Читатели</a></button>
        <button class="btn btn-primary"><a href="">Таблица Роли</a></button>
        <button class="btn btn-primary"><a href="">Таблица Пользователи</a></button>
    </div>

</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler ms-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>


<div class="container-author-table">

</div>