@{
    ViewData["Title"] = "Пункты выдачи";
}
<div class="container">
    <h1 class="mt-5">Пункты выдачи</h1>
    <div class="input-group mt-3 mb-3">
        <input type="text" class="form-control" placeholder="Поиск пункта выдачи" aria-label="Поиск пункта выдачи" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Поиск</button>
        </div>
    </div>
</div>
<div class="row" id="div-show-pickup"></div>