@{
    ViewData["Title"] = "Профиль";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div>
                    <a id="a-profile-modal-image" class="btn" data-bs-toggle="modal" data-bs-target="#div-profile-edit-photo-modal">
                        <img id="img-photo-profile" class="img-fluid rounded mb-3" alt="Изображение профиля" width="150" height="250">
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Информация о пользователе</h5>
                    <form class="form-user-information">
                        <div class="mb-3">
                            <label for="input-form-edit-login" class="form-label">Логин аккаунта</label>
                            <input type="text" class="form-control" id="input-form-edit-login" required>
                        </div>
                        <div class="mb-3">
                            <label for="input-form-edit-surname" class="form-label">Фамилия</label>
                            <input type="text" class="form-control" id="input-form-edit-surname" required>
                        </div>
                        <div class="mb-3">
                            <label for="input-form-edit-name" class="form-label">Имя</label>
                            <input type="text" class="form-control" id="input-form-edit-name" required>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Заказы пользователя комментария</h5>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Название книги</th>
                                    <th>Дата заказа</th>
                                    <th>Статус</th>
                                    <th>Пункт выдачи</th>
                                </tr>
                            </thead>
                            <tbody id="tbody-profile-table"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

