@page
@model LibraryWeb.Core.Pages.IndexModel
<!DOCTYPE html>
<html>
    <head>
        <link href="~/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <p>Пример текста</p>
    </body>
</html>
