@page
@model LibraryWeb.Core.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
    <head>
        <link href="~/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <table>
            <tr>
                <td>
                    
                </td>
            </tr>
        </table>
        <footer>
            <form method="post" asp-antiforgery="true">
            <p>Web API - <input type="submit" action="@Url.Action("RazorController", "RedirectToSwagger")" name="btSwagger" value="Swagger" /></p>
            </form>
        </footer>
    </body>
</html>
