@page
@model LibraryWeb.Core.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
    <head>
        <link href="@Url.Content("/css/style.css")" type="text/css" rel="stylesheet" asp-append-version="true"/>
    </head>
    <body>
        <div class="header">
            <p class="pAccount">Личный кабинет</p>
        </div>
    <div class="footer">

        </div>
    </body>
</html>
