@page
@model LibraryWeb.Core.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
    <head>
        <script src="js/DataSend.js" asp-append-version="true"></script>
    </head>
    <body>
    <button onclick="DataGet()">Метод GET</button>
    </body>
</html>
